


body{
    background-color: darkcyan;
    font-family: sans-serif;
    background-image: url(bok.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

a{
    font-family: sans-serif;
    font-size: 40px;
    
}


#Lever{
    font-family:monospace;
    background-color: blanchedalmond;
    
}


#Navnpåforfatter {
    font-size: 20px;
    border-radius: 10px;
    
}

#Forlag {
    font-size: 20px;
    border-radius: 10px;
    
}


#Tittel {
    font-size: 20px;
    border-radius: 10px;
    
}

#Utgivelsesår {
    font-size: 20px;
    width: 70px;
    border-radius: 10px;
}


#Terningkast {
    font-size: 25;
    width: 40px;
    border-radius: 12px;
}

#nerd {
    width: 200px;
    
}