


body{
    background-color: darkcyan;
    font-family: sans-serif;
    background-image: url(Bakgrunn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}




h3{
    font-family: sans-serif;
    font-size: 25px;
    margin: 70px;
}

h1{
    font-family: monospace;
    padding-left: 100px;
    font-size: 51px;
    padding-top: 10px;
    
}

#Lever{
    font-family:monospace;
    background-color: blanchedalmond;
    height: 30px;
    width: 100px;
    
    
}


#Navnpåforfatter {
    font-size: 20px;
    border-radius: 10px;
    
    
}

#Lever:hover{
    background-color:chartreuse;
    
    
}

#Forlag {
    font-size: 20px;
    border-radius: 10px;
    
}


#Tittel {
    font-size: 20px;
    border-radius: 10px;
    
}

#Utgivelsesår {
    font-size: 20px;
    width: 80px;
    border-radius: 10px;
}


#Terningkast {
    font-size: 25;
    width: 46px;
    border-radius: 12px;
}

#nerd {
    width: 200px;
    
}


#logo {
    
height: 300px;
width: 300px;
left: 500px;
padding-top: 350px;
padding-right: 500px;

}

